zig-out/
*.apk
*.wasm
*.html

.zig-cache/

gpu_projects/model_loading/
gpu_projects/valdation_layers/

projects/stiple/
projects/Strawkhold/
projects/image_test/
projects/callback_test/
projects/cross_platform_test/
projects/android_template/
projects/white_background_remover/
gpu_projects/crmi_scheduler_gpu
